/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GERAL */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #222;
  transition: background 0.3s, color 0.3s;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.navbar {
  max-width: 1100px;
  margin: auto;
  padding: 18px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #0077ff;
}

#themeToggle {
  border: none;
  background: #0077ff;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* SEÇÕES */
.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 120px 20px 60px;
}

.container {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

p {
  line-height: 1.7;
  margin-bottom: 15px;
}

/* FORMAÇÃO */
.info-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* PORTFÓLIO */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

project-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #ddd;

  text-decoration: none;
  color: inherit;

  transition: transform 0.2s, border 0.2s;
}

.project-card:hover {
  transform: translateY(-4px);
  border-color: #0077ff;
}

/* FORMULÁRIO */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

input,
textarea {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

textarea {
  min-height: 130px;
  resize: none;
}

form button {
  background: #0077ff;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;

  transition: opacity 0.2s;
}

form button:hover {
  opacity: 0.9;
}

/* TEMA ESCURO */
.dark-mode {
  background: #121212;
  color: #f5f5f5;
}

.dark-mode .header {
  background: #1c1c1c;
  border-color: #333;
}

.dark-mode .nav-links a {
  color: #f5f5f5;
}

.dark-mode .info-box,
.dark-mode .project-card,
.dark-mode input,
.dark-mode textarea {
  background: #1f1f1f;
  color: white;
  border-color: #333;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
    font-size: 28px;
  }

}